header {
    background-color: #AE847E;
    padding: 20px;
    overflow: hidden;
    position: sticky;
    top: 0;          
    z-index: 1000;  
    box-shadow: 0 2px 10px rgba(0,0,0,0.2); 
}
header h1 {
    color:  bisque;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}
header nav {
    display: inline-block;
    float: right;
}
a:focus {
    outline: 2px dashed #AE847E;
    outline-offset: 4px;
}
header nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
header nav ul li {
    display: inline-block;
    margin: 0 15px;
}
header nav ul li a {
    color: bisque;    
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 8px 15px;
    &:hover {
        border-bottom:1px solid #E2C290;
    }
}
#Home {
    /* background-color: #E2C290; */
    background-image: url(../assets/images/elegant-beige-wave-background-abstract-600nw-2519043245.webp);
    background-size: cover;
    background-position: center;
    padding: 50px 20px;
    overflow: hidden;
    height: 100vh;
}
#Home .home-txt {
    float: left;
    width: 55%;
    padding-top: 13%;
    margin: 20px 5px;
    color: #5E4B56;
}
#Home .home-txt h2 {
    font-size: 2.2em;
}
#Home .home-txt p {
    font-size: 1.1em;
}
#Home .home-img {
    float: right;
    width: 35%;
    text-align: center;
     padding-top: 10%;
}
#Home .home-img img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 4px solid #FCD0A1;
}
#Home .home-img figcaption {
    margin-top: 10px;
    color: #5E4B56;
    font-weight: bold;
}
#About {
    background-color: #A690A4; 
    padding: 100px 20px; 
    color: #5E4B56; 
    text-align: center; 
}

#About h2 {
    font-weight: bold;
    font-size: 40px;
    color: #E2C290; 
    margin-bottom: 30px;
}
#About p {
    font-weight: normal;
    font-size: 20px;
    color: #5E4B56; 
    max-width: 700px; 
    margin: 0 auto; 
    line-height: 1.6; 
}
#Skills dl {
    display: inline-block; 
    text-align: left;
}

#Skills dt {
    font-weight: bold;
    color: #AE847E;
    margin-bottom: 5px;
    display: inline-block; 
    margin-right: 15px;
}

#Skills dd {
    display: inline-block; 
    margin: 0 20px 20px 0;
    color: #5E4B56;
    max-width: 250px;
    vertical-align: top;
}
#Experience {
    background-color: #5E4B56;
    padding: 50px 30px;

}

#Experience h2 {
    font-weight: bold;
    font-size: 30px;
    color: #A690A4;
    margin-bottom: 40px;
}

#Experience ol {
   font-size: 28px;
}

#Experience ol > li {
    color: #F8C0C8; 
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: left;
}

#Experience ol > li ul {
    margin-top: 5px;
    margin-left: 20px;
    list-style-type: disc;
}

#Experience ol > li ul li {
    color: #E2C290; 
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 5px;
}
#Projects {
    background-color: #A690A4; 
    padding: 50px 20px;
    color: #5E4B56;
    text-align: center;
}

#Projects h2 {
    font-size: 2em;
    color: #FCD0A1;
    margin-bottom: 30px;
}
#Projects table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #E2C290; 
}

#Projects table caption {
    caption-side: top;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

#Projects th, #Projects td {
    border: 1px solid #5E4B56;
    padding: 12px;
    text-align: left;
}

#Projects th {
    background-color: #5E4B56;
    color: #FCD0A1;
    font-size: 1.1em;
}

#Projects td a {
    color: #5E4B56;
    text-decoration: none;
    font-weight: bold;
}

#Projects td a:hover {
    text-decoration: underline;
}

#Projects tbody  {
    background-color: #FCD0A1; 
}
#Contact {
    background-color: #FCD0A1; 
    padding: 60px 20px;
    text-align: center;
    color: #5E4B56;
}

#Contact h2 {
    font-size: 2.2em;
    color: #5E4B56;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

#Contact address {
    display: inline-block;
    padding: 25px 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(94, 75, 86, 0.3);
    font-style: normal; 
}

#Contact address p {
    font-size: 1.3em;
    margin: 15px 0;
    font-weight: bold;
    color: #5E4B56;
}

#Contact address a {
    color: #AE847E;
    text-decoration: none;
    font-weight: bold;
}

#Contact address a:hover {
    text-decoration: underline;
    color: #5E4B56;
}
#Resume {
    padding: 40px 20px;
    text-align: center;
}

#Resume h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #5E4B56;
}

#Resume p {
    font-size: 1.1rem;
    color: #5E4B56;
}

#Resume a {
    text-decoration: none;
    color: #AE847E;
    font-weight: bold;
}

#Resume a:hover {
    color: #E2C290;
    text-decoration: underline;
}
hr {
    width: 80%;
    margin: 30px auto;
    border: none;
    height: 3px;
    background-color: #a796a6;
}
.secret {
    visibility: hidden;
}
footer {
    background-color: #AE847E;
    color: #eee;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer .style {
    color: #E2C290;
    font-weight: bold;
}

footer p {
    font-size: 1rem;
    letter-spacing: 1px;
}